{% extends 'base.html' %}

{% block bodyblock %}
<div class="container content">
    <script src="https://kit.fontawesome.com/6e01d38736.js" crossorigin="anonymous"></script>
    <br>
    <h3>Welcome to Mono's <br> <strong><span style="color: #6d597a;">Face Recognition Web
                Applicacion</span></strong> </h3>
    <p>Aplicación desarrollada como proyecto para la materia Estructuras de Datos en la universidad de antioquia
        semestre 2021.

    </p><br>
    <p>Para la creación de esta aplicacíon se utilizaron los siguientes lenguajes de programacíon y
        librerias:</p>
    <img src="https://img.icons8.com/ios/50/000000/html.png" />
    <img src="https://img.icons8.com/color/48/000000/python--v2.png" />
    <img src="https://img.icons8.com/ios/50/000000/flask.png" />
    <img src="https://img.icons8.com/material-rounded/24/000000/python-file.png" />
    <img src="https://img.icons8.com/external-ddara-flat-ddara/64/000000/external-api-fintech-ddara-flat-ddara.png" />
    <img
        src="https://img.icons8.com/external-flatart-icons-solid-flatarticons/50/000000/external-computer-device-and-development-flatart-icons-solid-flatarticons-1.png" />
    <img src="https://img.icons8.com/color/48/000000/stackoverflow.png" />
    <img src="https://img.icons8.com/color/48/000000/visual-studio-code-2019.png" />
    <img src="https://img.icons8.com/color/48/000000/bootstrap.png" />
    <img src="https://img.icons8.com/ios/50/000000/html.png" />
    <img src="https://img.icons8.com/color/48/000000/python--v2.png" />
    <img src="https://img.icons8.com/ios/50/000000/flask.png" />
    <img src="https://img.icons8.com/material-rounded/24/000000/python-file.png" />
    <img src="https://img.icons8.com/external-ddara-flat-ddara/64/000000/external-api-fintech-ddara-flat-ddara.png" />
    <img
        src="https://img.icons8.com/external-flatart-icons-solid-flatarticons/50/000000/external-computer-device-and-development-flatart-icons-solid-flatarticons-1.png" />
    <img src="https://img.icons8.com/color/48/000000/stackoverflow.png" />
    <img src="https://img.icons8.com/color/48/000000/visual-studio-code-2019.png" />
    <img src="https://img.icons8.com/color/48/000000/bootstrap.png" />
    <img src="https://img.icons8.com/ios/50/000000/html.png" />
    <img src="https://img.icons8.com/color/48/000000/python--v2.png" />
    <img src="https://img.icons8.com/ios/50/000000/flask.png" />
    <img src="https://img.icons8.com/material-rounded/24/000000/python-file.png" />
    <img src="https://img.icons8.com/external-ddara-flat-ddara/64/000000/external-api-fintech-ddara-flat-ddara.png" />
    <img
        src="https://img.icons8.com/external-flatart-icons-solid-flatarticons/50/000000/external-computer-device-and-development-flatart-icons-solid-flatarticons-1.png" />
    <div class="overflow-auto">
        <ul>

            <div style="padding: 10px; float: left; width: 45%; text-align: justify;">
                <li><strong>
                        <h3>Backend:</h3>
                    </strong></li>

                <ul>
                    <li>API de RESTful</li>
                    <li>Flask.</li>
                    <li>Machine Learnning Model</li>

                    <ul>

                        <li>Pil(Python Image Library)</li>
                        <li>Matplotlib</li>
                        <li>OpenCV</li>
                        <li>Numpy</li>
                        <li>Pandas</li>
                        <li>Sklearn</li>

                    </ul>
            </div>
            <hr />
            <ul>
                <ul>
                    <div style="padding: 10px; float: right; width: 45%; text-align: justify;"></div>
                    <li><strong>
                            <h3>Frontend:</h3>
                        </strong></li>
                    <ul>
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>Bootstrap</li>
                  <ul>
            </ul>
    </div>
</div>
<br>


</div>
{% endblock %}