{% extends 'base.html' %}

{% block bodyblock %}
<div class="container content">
    <br>
    <h3>Welcome to Mono's <strong><span style="color: #6d597a;">Face Recognition Web
                Applicacion</span></strong> </h3>
    <p>Aplicación desarrollada como proyecto para la materia Estructuras de Datos en la universidad de antioquia
        semestre 2021.
    </p><br>
    <p>Para la creación de esta aplicacíon se utilizaron los siguientes lenguajes de programacíon y
        librerias: ...</p>
    <br>

</div>
{% endblock  %}